.content {
  width: 90%;
  margin: 0 auto;
}

.video-content {
  width: 60%;
}

.bleach {
  width: 85%;
  margin: 0 auto;
}

.container-content{
  margin-bottom: 5em;
}

.one-piece{
  width: 85%;
  margin: 0 auto;
}

.attack-on-titan {
  width: 85%;
  margin: 0 auto;
}

/*rules BELOW are all for nav*/
.nav-container {
  width: 90%;
  margin: 0 auto;
}
.nav-container ul {
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.nav-container li {
  width: 100%;
  background-color: aqua;
  text-align: center;
  box-sizing: content-box;
  margin-bottom: 5%;
  list-style: none;
}

.nav-container li a {
  display: block;
  padding: 0.8em 0;
}

.nav-container li a:hover {
  background-color: azure;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  margin: 2em 0 3em;
}

@media screen and (min-width: 800px) {
  .nav-container {
    width: 100%;
  }
  .nav-container li {
    width: 15%;
    padding: 0;
    display: block;
    position: relative;
    float: left;
    background-color: transparent;
    margin-bottom: 0;
  }
  .nav-container li a {
    display: block;
    padding: 0.8em 0;
  }
  .nav-container ul {
    overflow: hidden;
    margin: 0 auto;
    background-color: aqua;
  }

  .nav-container li:nth-child(3) {
    float: right;
  }
  .nav-container li:nth-child(2) {
    margin-right: 17%;
    margin-left: 17%;
  }
  .nav-container li:nth-child(1) {
    margin-left: 10%;
  }
  .nav-container li:nth-child(3) {
    margin-right: 10%;
  }
/**rules ABOVE are for nav bar**/


  .container-content {
    width: 20%;
    float: right;
    margin-right: 10%;
  }

  .video-content {
    float: left;
    margin-bottom: 5em;
  }

  h2{
    text-align: center;
  }

  .attack-on-titan{
    clear: both;
  }

}

